* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: black;
}

canvas {
  display: flex;
  margin: 0 auto;
}

.player {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}
