:root {
  font-size: 10px;

  --color-black-000: #000000;

  --color-grey-100: #eeeeee;

  --color-white-000: #ffffff;

  --background-light: var(--color-grey-100);
  --background-dark: var(--color-black-000);

  --text-light: var(--color-white-000);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
