.main {
  display: block;
  margin: 0;
  height: 100vh;

  .canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

.backgroundSky {
  background-color: lightskyblue;
}
