* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
}

#my-canvas {
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
